* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #dcedc8;
  color: #fff;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  width: 50%;
  margin: 20px auto;
}

.header {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/cabin.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hero-text-box {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  padding: 0 30%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  word-spacing: 10px;
  transform: translate(-50%, -50%);
}

.hero-title {
  font-size: 300%;
  font-weight: 600;
}
.hero-version {
  font-size: 100%;
  font-weight: 400;
}

.section-how {
  padding: 80px 0;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}


h2:after {
  display: block;
  height: 2px;
  background-color: #b2ff59;
  content: " ";
  width: 200px;
  margin: 0 auto 10px auto;
}

h3 {
  font-size: 110%;
  word-spacing: 2px;
  letter-spacing: 3px;
}

.invisible-padding {
  width: 15px;
}

.long-paragraph {
  line-height: 160%;
  word-spacing: 3px;
  letter-spacing: 2px;
  text-align: justify;
  font-weight: 400;
}

.box {
  padding: 10px 20px;
  word-spacing: 2px;
  letter-spacing: 1px;
  text-align: justify;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.flight-filter-section {
  display: block;
  background-color: #43853d;
  height: 30vh;
}
.flight-filter-box {
  padding-top: 50px;
  margin-bottom: 100px;
  margin-left: 35%;
}

label {
  margin-bottom: 0;
  padding-bottom: 0;
  
}

.input-label {
  font-size: 80%;
  color: white;
}

input[type=text] {
  width: 200px;
  height: 50px;
  padding: 5px 20px;
  
  box-sizing: border-box;
  border: 2px solid #33691e;
  border-radius: 10px;
  background-color: #dcedc8;
}

button {
  border: none;
  outline:none;
  background-color: transparent;
}

.search-box {
  float: left;
  height: 50px;
}

.search-result-table {
  margin: 30px 5%;
  
}

.footer {
  background-color: #616161;
  background-size: cover;
  background-position: center;
  height: 15vh;
  color: white;
  font-weight: 500;
  text-align:center
}

.footer-menu {
  padding: 20px 30px 10px 30px;
  align-content: center;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-icons {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
  margin: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  transition: color 0.2s;
}

.social-icons li a:link,
.social-icons li a:visited {
  text-decoration: none;
  border: 0;
  color: #fff;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-icons li a:hover,
.social-icons li a:active {
  color: rgb(207, 202, 202);
}

.footer p {
  text-align: center;
  font-size: 70%;
}